@model IEnumerable<GridLayout.Models.AdData>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jQuery.tmpl.min.js"></script>
<script src="~/Scripts/jQuery.tmpl.js"></script>
<script src="~/Scripts/jsrender.js"></script>

<div id="popularCities" class="row">
    <br />
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Popular Cities
                </h3>
            </div>
            <div class="panel-body">
                <ul id="lstCity" class="nav nav-pills pull-left"></ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Post Free Ad</h2>
        <hr>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">Call to Action!</button>
    </div>
</div>

<div id="adCategories" class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Free Classfied Ad Categories in India
                </h3>
            </div>
            <div class="panel-body">
                <ul id="lstCategories" class="nav nav-pills pull-left"></ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/game-site-5.jpg" alt="...">
            <div class="caption">
                <h3>Latest Release</h3>
                <p>This is the latest release from our games site. It features the movie lord of the ring and follows the story as close to the movie as possible.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">99 Items in your cart</button>
    </div>

    <div class="col-sm-6 col-md-8">
        <h4>Latest Ads</h4>

        <div id="latestAdContainer" class="row">
            @for(int i = 0; i < 3; i++)
            {
                var item = Model.ToList()[i];
                 <div class="col-md-4">
                    <div class="thumbnail">
                        <img src=@item.Ad_Photo alt="...">
                        <div class="panel-footer text-center">
                            <h4>@item.Ad_Title</h4>
                            <p>@item.Ad_Description</p>
                            <span class="label label-warning">INR 50000</span>
                        </div>
                    </div>
                </div>
            }

            @*<div class="col-md-4">
                    <div id="top1" class="thumbnail">
                        <img src="~/Content/Images/Ad/1.jpg" alt="...">
                        <div class="panel-footer text-center">
                            <h4 id="htop1">Car on sale</h4>
                            <p id="dtop1">old car with good condition on sale</p>
                            <span id="ptop1" class="label label-warning">INR 50000</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="top2" class="thumbnail">
                        <img src="~/Content/Images/Ad/2.jpg" alt="...">
                        <div class="panel-footer text-center">
                            <p>Game 2</p>
                            <p>$47.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="top3" class="thumbnail">
                        <img src="~/Content/Images/Ad/3.jpg" alt="...">
                        <div class="panel-footer text-center">
                            <p>Game 3</p>
                            <p>$34.00</p>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

</br>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="row">
            <div class="text-center">
                <img src="http://placehold.it/300x300&amp;text=Image 1" alt="...">
            </div>
        </div>
        </br>
        <div class="row">
            <div class="text-center">
                <img src="http://placehold.it/300x300&amp;text=Image 1" alt="...">
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-8">
        <div class="row">
            @*<a target="_blank" href="http://r.turn.com/r/click?id=RaJgTrnUpW62eQgA3AcBAA&amp;url=http%3A%2F%2Fresults.affilitrace.com%2Flstrackn%2F2821&amp;invsrc=32&amp;tld=placehold.it"><img src="http://img.turn.com/img-data/5ea95b90e196446c9cb5577c212f2c1b_1/7c0349aac08a412ba0d74ecc52114b6d.jpg" border="0"></a>*@
            <img src="http://placehold.it/690x100&amp;text=Image 1" alt="...">
        </div>

        <br>
        <div class="row">
            @foreach (var ad in Model)
            {
                <div class="panel-footer top-left">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src=@ad.Ad_Photo alt="...">
                        </div>
                    </div>

                    <h3>@ad.Ad_Title</h3>
                    <p>@ad.Ad_Description</p>
                </div>
                <br />
            }

            <span class="glyphicons glyphicons-home">hello subhash</span>
        </div>

        <div class="row text-center">

            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="disabled"><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>