@model IEnumerable<GridLayout.Models.City>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            @*<img src="img/game-site-1.jpg" alt="Image">*@
            <img src="http://placehold.it/300x300&amp;text=Image 1" alt="...">
        </a>
        <div class="panel-footer text-center">Chess</div>
    </div>

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            @*<img src="img/game-site-2.jpg" alt="Image">*@
            <img src="http://placehold.it/300x300&amp;text=Image 2" alt="...">
        </a>
        <div class="panel-footer text-center">Blob Bob</div>
    </div>

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            @*<img src="img/game-site-3.jpg" alt="Image">*@
            <img src="http://placehold.it/300x300&amp;text=Image 3" alt="...">
        </a>
        <div class="panel-footer text-center">Alien Showdown</div>
    </div>

    <div class="col-md-3">
        <a href="#" class="thumbnail">
            @*<img src="img/game-site-4.jpg" alt="Image">*@
            <img src="http://placehold.it/300x300&amp;text=Image 4" alt="...">
        </a>
        <div class="panel-footer text-center">Matrix</div>
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-8">
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    <h2>Games News</h2>
                    <hr>
                    <p><b>Games of the Future will have 32 Bits.</b></p>
                </div>
                <div class="col-md-6">
                    <p>This is just a sample content, don't pay much attention to it. It is used just to fill space nothing more. To read about real game news try searching Google.com or your favorite gaming websites.</p>
                </div>

                <select class="selectpicker" data-style="btn-success">
                    @foreach (var City in Model)
                    {
                        <option>@City.CityName</option>
                    }

                </select>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Get In Touch!</h2>
        <hr>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">Call to Action!</button>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/game-site-5.jpg" alt="...">
            <div class="caption">
                <h3>Latest Release</h3>
                <p>This is the latest release from our games site. It features the movie lord of the ring and follows the story as close to the movie as possible.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">99 Items in your cart</button>
    </div>

    <div class="col-sm-6 col-md-8">

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300&amp;text=Game 1" alt="...">
                    <div class="panel-footer text-center">
                        <p>Game 1</p>
                        <p>$50.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300&amp;text=Game 2" alt="...">
                    <div class="panel-footer text-center">
                        <p>Game 2</p>
                        <p>$47.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300&amp;text=Game 3" alt="...">
                    <div class="panel-footer text-center">
                        <p>Game 3</p>
                        <p>$34.00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300&amp;text=Game 4" alt="...">
                    <div class="panel-footer text-center">
                        <p>Game 4</p>
                        <p>$47.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300&amp;text=Game 5" alt="...">
                    <div class="panel-footer text-center">
                        <p>Game 5</p>
                        <p>$26.00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://placehold.it/300x300&amp;text=Game 6" alt="...">
                    <div class="panel-footer text-center">
                        <p>Game 6</p>
                        <p>$16.00</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
