@model IEnumerable<GridLayout.Models.AdData>

@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/jQuery.tmpl.min.js"></script>
<script src="~/Scripts/jQuery.tmpl.js"></script>
<script src="~/Scripts/jsrender.js"></script>

<div id="popularCities" class="row">
    <br />
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Popular Cities
                </h3>
            </div>
            <div class="panel-body">
                <ul id="lstCity" class="nav nav-pills pull-left"></ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <h2>Post Free Ad</h2>
        <hr>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">Call to Action!</button>
    </div>
</div>

<div id="adCategories" class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Free Classfied Ad Categories in India
                </h3>
            </div>
            <div class="panel-body">
                <ul id="lstCategories" class="nav nav-pills pull-left"></ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @*left columns for rendering the advertisements*@
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="img/game-site-5.jpg" alt="...">
            <div class="caption">
                <h3>Latest Release</h3>
                <p>This is the latest release from our games site. It features the movie lord of the ring and follows the story as close to the movie as possible.</p>
            </div>
        </div>
        <button type="button" class="btn btn-primary text-center" style="width:100%;">99 Items in your cart</button>
    </div>

    @*right columns for rendering the ads*@
    <div class="col-sm-6 col-md-8">
        <h4>Latest Ads</h4>
        @*div to rendered the top three ad*@
        <div id="latestAdContainer" class="row">
            @for (int i = 0; i < 3; i++)
            {
                var item = Model.ToList()[i];
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src=@item.Ad_Photo alt="...">
                        <div class="panel-footer text-center">
                            <h4>@item.Ad_Title</h4>
                            <p>@item.Ad_Description</p>
                            <span class="label label-warning">INR 50000</span>
                        </div>
                    </div>
                </div>
            }
        </div>

        <hr />

        @*div to render the ad data*@
        <div id="adData"></div>

        @*pagination div*@
        <div class="row text-center">
            <nav>
                <ul id="ulPagination" class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
