@{
    ViewBag.Title = "Product";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
            <p>this is side bar here</p>
        </div>
        <div class="span10">
            <!--Body content-->
            <p>this is body content</p>
        </div>
    </div>
</div>
